<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}  All rights reserved.</span>
    <span class="footer__copyright"><a href="http://www.miitbeian.gov.cn/">浙ICP备15037204</a></span>
    <span class="footer__copyright">感谢<a href="https://github.com/onevcat/vno">Vno</a> theme by <a href="http://onevcat.com/">@onecat</a></span>
</footer>